[Desktop Entry]
Name=linslate
Name[zh_CN]=翻译工具
Icon=/home/eric/own/github/translate-for-linux/linslate/linslate.png
Exec=/home/eric/own/github/translate-for-linux/linslate/linslate.py
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
