[Desktop Entry]
Name=lislate
Name[zh_CN]=翻译工具
Icon=/home/eric/own/github/translate-for-linux/lislate/lislate.png
Exec=/home/eric/own/github/translate-for-linux/lislate/lislate.py
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
